

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="apartment1.jpg" class="card-img-top" alt="Apartment 1">
            <div class="card-body">
                <h5 class="card-title">{{listings['address']}}</h5>
                <p class="card-text">Price: {{listings['price']}}</p>
                <p class="card-text">Squre feet: {{listings['sqft']}}</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>

</div>